<router-outlet></router-outlet>
<div id="site_content">
  <!-- Enable if side bar is needed ...
  <div class="sidebar">
    <h3><I>Side bar items ... </I></h3>
  </div>
  -->
  <div style="text-align:center">

    <h2> Contact Us .......... </h2>
  </div>
</div>
