#site_content
{
  height: 600px;
  width: 837px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #FFF url(../../assets/images/content.png) repeat-y;
  margin-left: auto;
  margin-right: auto;
}
