<router-outlet></router-outlet>
<div id="site_content">
  <!-- Enable if side bar is needed ...
  <div class="sidebar">
    <h3><I>Side bar items ... </I></h3>
  </div>
  -->
  <div style="text-align:center">
    <div id="chart"></div>

    <h2> constellation ... </h2>
    <h2>Building name = {{tenants.buildingName}}</h2>
    <h2>Building ph = {{tenants.tenantPhoneNumber}}</h2>
    <h2>Building list : </h2>
    <h2 *ngFor="let building of buildingsList">{{building}}</h2>

    <h2>Building and units list : </h2>
    <h2 *ngFor="let buildingUnit of buildingsAndUnits">{{buildingUnit.buildingName}}</h2>
  </div>
</div>

