#site_content
{
  min-height: 600px;
  max-height : 1200px;
  width: 837px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #FFF url(../../assets/images/content.png) repeat-y;
  margin-left: auto;
  margin-right: auto;
}

.buildingsDropdown, .unitsDropdown {
  width : 500px;
  height : 40px;
}

label {
  padding-top : 15px;
}

.buildings-dropdown-row, .units-dropdown-row  {
  min-height:50px !important;
}

.buildings-dropdown-row {
  padding-top : 20px;
}

.units-dropdown-row {
  padding-top : 20px;
}

.goButton {
  padding-top : 15px;
}

.tenantsInfoRow {
  padding-top : 10px;
}

.btn-outline-primary {
  color : #025587;
  border-color : #025587;
}

