<router-outlet></router-outlet>
<div id="site_content">
  <!-- Enable if side bar is needed ...
  <div class="sidebar">
    <h3><I>Side bar items ... </I></h3>
  </div>
  -->
  <div style="text-align:center">
    <h2><b>Search criteria</b></h2>
    <div class="container">
      <div class="row buildings-dropdown-row">
        <div class="col-lg-2">
          <h4><label><b>Buildings</b></label></h4>
        </div>
        <div class="col-lg-8">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary buildingsDropdown" ngbDropdownToggle>{{selectedBuilding}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item buildingsDropdown" (click)="menuSelectionEvent('Choose a building ...')">Choose a building ...</button>
              <button class="dropdown-item buildingsDropdown" *ngFor="let building of buildingsList" (click)="menuSelectionEvent(building)">
                {{building}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row units-dropdown-row">
        <div class="col-lg-2">
          <h4><label><b>Units</b></label></h4>
        </div>
        <div class="col-lg-8">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary unitsDropdown" ngbDropdownToggle>{{selectedUnit}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic2" [ngModel]="selectedBuilding" ngDefaultControl>
                <button class="dropdown-item unitsDropdown" (click)="unitsMenuSelectionEvent('Choose a unit ...')">Choose a unit ...</button>
                <button class="dropdown-item unitsDropdown" [value]="unit" *ngFor="let unit of unitsModel" (click)="unitsMenuSelectionEvent(unit)">
                  {{unit.doorNumber}}
                </button>
              </div>
            </div>
        </div>
      </div>
      <div class="row goButton">
        <div class="col-lg-5"></div>
        <div class="col-lg-1"><button type="button" [disabled]="disableGoButton" class="btn btn-secondary" (click)="submitEvent()">Go</button></div>
        <div class="col-lg-6"></div>
      </div>
      <div class="row tenantsInfoRow">
        <div class="col-lg-11">
          <div class="table-responsive">
            <table class="table">
              <thead class=".thead-lightk">
              <tr>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Phone #</th>
                <th scope="col">Email</th>
                <th scope="col">Current rent</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tenant of tenantsList">
                  <th>{{tenant.tenantFirstName}}</th>
                  <th>{{tenant.tenantLastName}}</th>
                  <th>{{tenant.tenantPhoneNumber}}</th>
                  <th>{{tenant.tenantEmail}}</th>
                  <th>{{tenant.rentAmount | currency : "\u20B9"}}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


