<body>
  <!-- HEADER -->
  <div id="header">
    <div id="logo">
      <div id="logo_text">
        <!-- class="logo_colour", allows you to change the colour of the text -->
        <h1><a href="index.html">Resident<span class="logo_colour">Portal</span></a></h1>
        <h2><i>Information. at. your. fingertip</i></h2>
      </div>
    </div>
    <div id="menubar">
      <ul id="menu">
        <li class="selected"><a routerLink="/home" routerLinkActive="active">Earth</a></li>
        <li><a routerLink="/constellation" routerLinkActive="">Constellation</a></li>
        <li><a routerLink="/filter" routerLinkActive="">Filter</a></li>
        <li><a routerLink="/contactUs" routerLinkActive="">Orbit</a></li>
      </ul>
    </div>
  </div>
  <!-- END OF HEADER -->

  <router-outlet></router-outlet>

  <!-- FOOTER -->
  <div id="content_footer"></div>
  <div id="footer">
    Copyright &copy; big bang
  </div>
  <!-- END OF FOOTER -->

</body>
