@import "~bootstrap/dist/css/bootstrap.css";

html
{ height: 100%;}
*,
*:before,
*:after {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
