<div id="site_content">
  <!-- Enable if side bar is needed ...
  <div class="sidebar">
    <h3><I>Side bar items ... </I></h3>
  </div>
  -->
  <div style="text-align:center">
    <h1>
      Welcome to the Resident Portal !
    </h1>

      <img width="800" alt="Angular Logo" [src]=skyScrapperImagePath >

      <h2>Here are some links to help you start: </h2>
      <ul>
        <li>
          <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
        </li>
      </ul>

    <router-outlet></router-outlet>
  </div>
</div>

